.contentWrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
}

.photo {
  width: 292px;
  object-fit: cover;
  border-radius: 10px;
}

.wrapperItemContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.wrapperItem {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.item,
.itemLocation {
  display: flex;
  align-items: center;
  gap: 4px;
}

.itemLocation {
  gap: 8px;
  transition: text-shadow var(--animation), font-weight var(--animation);
}

.title,
.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.description {
  display: -webkit-box;
  width: 525px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--text);
  text-overflow: ellipsis;
  margin-bottom: 24px;
}

.btnHeart {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.active {
  color: var(--button);
}

.icon {
  fill: currentColor;
}
